.form_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

}

.form_header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form_name{
    border:none;
    outline: none;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color:#202124;
    width:120px;
}

.form_header_icon{
    color:#202124;
    font-size: 20px;

}

.form_name:focus{
border-bottom: 1px solid black;

}

.form_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}