.mainbody{
    background-color: white;
    margin-left: 160px;
    margin-right: 160px;
}
.mainbody_top{
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainbody_top_right{
    display:flex;
    align-items: center;
}

.mainbody_top_center{
    display: flex;
    box-sizing: content-box;
    align-items: center;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 16px;
}


.doc_card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200px;
    margin-right: 20px;

}


.doc_card:hover{
    border: 1px solid #6E2594;
}

.doc_image{
    box-sizing: border-box;
    height: 150px;
    width:200px;
}